{% extends '::base.html.twig' %}

{% block title %}
 	Administration
{% endblock %}

{% block content %}
 	<h2>Les news</h2>
 	<ul>
 		<li><a href="{{ path('d2php_news_add') }}">Ajouter une news</a></li>
 		<li><a href="{{ path('d2php_news_category_add') }}">Ajouter une catégorie</a></li>
 	</ul>
 	
 	{% if is_granted('ROLE_GAME_MASTER') %}
 	<h2>Les membres</h2>
 	<ul>
 		<li><a href="{{ path('d2php_user_search') }}">Rechercher un membre</a></li>
 	</ul>
 	
 	<h2>La boutique</h2>
 	<ul>
 		<li><a href="{{ path('d2php_shop_gifts') }}">Liste des cadeaux</a></li>
 		<li><a href="{{ path('d2php_shop_gift_add') }}">Ajouter un cadeau</a></li>
 		<li><a href="{{ path('d2php_shop_category_add') }}">Ajouter une catégorie</a></li>
 	</ul>
 	{% endif %}
{% endblock %}
