{% extends '::base.html.twig' %}

{% block title %}
 	Page d'accueil
{% endblock %}

{% block content %} 	
 	<p>
 		Bienvenue sur {{ server_name }}, un serveur Dofus 1.29.
 	</p>
 	
 	<p>{% autoescape false %}
 		Pages : {{ news.renderLinks }}
 	{% endautoescape %}</p>
 	
 	{% for news_item in news.objects %}
		<h2>{{ news_item.title }}</h2>
		<center>
			Postée par <a href="{{ path('d2php_user_view', {'id': news_item.author.id}) }}">{{ news_item.author.nickname }}</a>
			le {{ news_item.date|date('d-m-Y à H:i') }}
		</center>
		<br/>
		
		<p>
			{{ news_item.message|nl2br }}
		</p>
		<p>
			<a href="{{ path('d2php_news_view', {'id': news_item.id}) }}">Lire la suite</a>
		</p>
		
		<div class="clear"></div>
		<div class="real">
		    <a href="{{ path('d2php_news_view', {'id':news_item.id}) }}" class="commentaire">{{ news_item.comments.count }} Commentaires</a>
		    <br/>
		</div>
	    
		<br/>
 	{% endfor %}
{% endblock %}
