{% extends '::base.html.twig' %}

{% block title %}
 	Informations
{% endblock %}

{% block content %}
 	<h2>Informations sur {{ server_name }}</h2>
 	
 	<p>
 		{{ server_name }} est un serveur Dofus 1.29 <i>anka'like</i>.
 		C'est à dire qu'il a pour but de faire revivre l'expérience de Dofus, premier du nom,
 		des anciens joueurs et, pourquoi pas, faire découvrir aux nouveaux quel bonheur cette
 		première version était !
 	</p>

	<p>
	<i>"Au confins du monde s'étend un continent peuplé d'humains débrouillards et de bête sauvages avides de sang. Cet ensemble d'île est nommé... Hélios."</i>
	</p>

	<p>
		L'équipe vous accueille dans leur premier serveur : Hélios. Retrouvez l'ambiance Old-School de dofus 1.29 sur un serveur stable et innovant. Agrémentez votre jeu avec des métiers, des chasses au monstre, ou des quêtes exclusives crées entièrement par notre équipe. Créez vous une place dans la communauté qui vous sera utile en cas de recrutements.
		Réfléchi et construit durant plusieurs mois, le Gameplay se veux interactif : Vos agissements et vos choix influerons sur votre parcours. Amusez vous avec la boutique qui vous proposera un contenu ne modifiant pas drastiquement votre gamePlay. Découvrez les secrets du serveurs, ajoutés jours après jours par une équipe attentive. Venez proposez des idées, échanger des bons plans sur notre forum, et participez à des évènements flash grâce à notre Twitter.
		Encadrée et animée par un Staff de grande expérience et ayant déjà fait ses preuves, votre progression sera aidée par l'aspect MMORPG de Dofus, qui vous procurera rivalités, amitiés et peut-être ... Amour.
	</p>

 	<p>
 		Voici une liste (non-exhaustive) des fonctionnalités de {{ server_name }} :
 		<ul>
 			<li>Multiplicateur du gain d'expérience : 2</li>
 			<li>Multiplicateur du drop : 3</li>
 			<li>Multiplicateur de kamas : 3</li>
 			<li>Multiplicateur du gain d'expérience des métiers : 10</li>
 			<li>Des nouvelles maps</li>
 			<li>Des évènements communautaires et sympas tout les week-ends</li>
 			<li>Une boutique n'ayant aucun impact lors des combats multijoueur</li>
 		</ul>
 	</p>
{% endblock %}
