{% extends '::base.html.twig' %}

{% block title %}
 	Nous rejoindre
{% endblock %}

{% block content %}
 	<h2>Nous rejoindre</h2>
 	
 	<ol>
 		<li>
 		<p>
 			Téléchargez <a href="{{ asset('DofusInstaller_v1_29_1.exe') }}">Dofus 1.29</a>.
 		</p>
 		</li>
 		<li>
 		<p>
 			Téléchargez <a href="{{ asset('config.xml.zip') }}">la configuration du jeu</a> pour se connecter aux serveurs {{ server_name }}.
 		</p>
 		</li>
 		
 		<li>
 		<p>
 			<a href="{{ path('d2php_user_signin') }}">Inscrivez-vous</a> et commencez à jouer
 			sur {{ server_name }} !
 		</p>
 		</li>
 	</ol>
{% endblock %}
