{% extends '::base.html.twig' %}

{% block title %}
 	L'équipe
{% endblock %}

{% block content %}
 	<h2>L'équipe de {{ server_name }}</h2>
 	
 	<table>
 		<tr>
 			<th>Nom</th>
 			<th>Fonction</th>
 			<th>État</th>
 		</tr>
 	
 		{% for member in members %}
 		<tr>
 			<td><a href="{{ path('d2php_user_view', {'id': member.id}) }}">{{ member.nickname }}</a></td>
 			<td>{{ member.getRightsStr }}</td>
 			<td>{% if member.connected %}connecté{% else %}déconnecté{% endif %}</td>
 		</tr>
 		{% endfor %}
 	</table>
{% endblock %}
