{% extends '::base.html.twig' %}

{% block title %}
 	Ajouter un message au livre d'or
{% endblock %}

{% block content %}
 	<h2>Ajouter un message au livre d'or</h2>
 	
 	<p>
 		<a href="{{ path('d2php_book_view') }}">Retourner au livre d'or</a>
 	</p>
 	
 	<form action="{{ path('d2php_book_add') }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
