{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer un message du livre d'or
{% endblock %}

{% block content %}
	<p>
		Souhaitez-vous vraiment supprimer le message de <a href="{{ path('d2php_user_view', {'id': message.author.id}) }}">{{ message.author.nickname }}</a> ?
		<a href="?confirmation=1">Oui</a> - 
		<a href="{{ path('d2php_book_view') }}">Non</a>
	</p>
{% endblock %}
