{% extends '::base.html.twig' %}

{% block title %}
	Le livre d'or
{% endblock %}

{% block content %}
 	<h2>Le livre d'or</h2>
 	
 	{% if average > 0 %}
 	<p>
 		Les membres de {{ server_name }} ont donné une note de <b>{{ average }}/20</b> en moyenne.
 	</p>
 	{% endif %}
 	
 	<p>
 		<a href="{{ path('d2php_book_add') }}">Ajouter un message</a><br 
 	</p>
 	
 	<table>
 	{% for message in messages.objects %}
 	<tr>
 		<td class="principal" style="vertical-align: middle;">
 			par <a href="">{{ message.author.nickname }}</a><br />
 			le {{ message.date|date('d/m/Y') }}
 		</td>
 		
 		<td style="vertical-align: top; width: 300px;">
 		<p>
 			{{ message.message|nl2br }}
 		</p>
 		</td>
 		
 		{% if is_granted('ROLE_GAME_MASTER') %}
 		<td>
 			<a href="{{ path('d2php_book_admin_delete', {'id': message.id}) }}">Supprimer</a>
 		</td>
 		{% endif %}
 	</tr>
 	{% else %}
 	<tr><td><i>Il n'y a aucun message dans le livre d'or.</i></td></tr>
 	{% endfor %}
 	</table>
{% endblock %}
