<!DOCTYPE html>
<html> 
    <head>
		<title>{{ server_name }} | {% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<link href="{{ asset('style/theme.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		
		<script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
		<script type="text/javascript" src="{{ asset('js/function.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/flash.js') }}"></script>
    </head>

    <body>
	<div id="wrapper">
	    <div id="header">
			<div id="sidebar_top">
			    <div class="sidebar">
				<span class="left">
				    <a href="{{ path('d2php_shop_item_choose') }}"><img class="boutique" src="{{ asset('images/theme/boutique.png') }}" alt="" /></a>
				    <a href="{{ path('d2php_shop_buy') }}"><img class="buy_points" src="{{ asset('images/theme/buy_points.png') }}" alt="" /></a>
				</span>
				
				<span class="right">
				    <div class="realmlist">
				      <input readonly="readonly" value="Bienvenue{% if is_granted('ROLE_MEMBER') %} {{ app.user.nickname }}{% endif %}" />
				    </div>
				  
				    <a href="{{ path('d2php_shop_vote') }}"><img class="vote" src="{{ asset('images/theme/vote.png') }}" alt="" /></a>
				</span>
				
				<div class="clear"></div>
			    </div>
			</div>
	    </div>
	    
	    <div id="wrap">
		<div id="menu">		    
		    <img src="{{ asset('images/theme/menu/compte.png') }}" />
		    <ul class="back brown">
		    {% if not is_granted('ROLE_MEMBER') %}
				<form action="{{ path('d2php_user_login_check') }}" method="post">
				    <center>
				    <div class="champ">
					    <input type="text" name="_username" value="Nom d'utilisateur" />
				    </div>
				    
				    <div class="champ">
					    <input type="password" name="_password" value="Mot de passe" />
				    </div>
				    
				    <div class="champ">
					    <input type="checkbox" id="remember_me" name="_remember_me" checked />
				    	<label for="remember_me">Rester connecté</label>
				    </div>
				    	
			    	<div class="champ">
		    			<input type="submit" value="" /><br/>
		    		</div>
				    </center>
				</form>
				
				<img src="{{ asset('images/theme/menu/footer_brown.png') }}" class="bottom" />
			{% else %}
				<center>
				    <img width="100px" height="100px" src="{{ asset('images/theme/avatar/dofus-arena.jpeg') }}" /><br/>
				    <img width="70px" height="40px" src="{{ asset('images/theme/personnages/0.png') }}" />
				</center>
				
				{% if is_granted('ROLE_QUIZ_MASTER') %}
				<li><a href="{{ path('d2php_admin') }}">Administration</a></li>
				{% endif %}
				<li><a href="{{ path('d2php_user_view', {'id': app.user.id}) }}">Votre profil</a></li>
				<li><a href="{{ path('d2php_user_edit') }}">Gestion du compte</a></li>
				<li><a href="{{ path('d2php_shop_buy') }}">Vous avez {{ app.user.points }} ogrines</a></li>
				<li><a href="{{ path('d2php_user_logout') }}">Déconnexion</a></li>
				
				<img src="{{ asset('images/theme/menu/footer_brown.png') }}" class="bottom" />
			{% endif %}
		    </ul>
		    		    
		    <img src="{{ asset('images/theme/menu/accueil.png') }}" alt="" />
		    <ul class="back">
			<li><a href="{{ path('d2php_home') }}">Accueil</a></li>
			{% if not is_granted('ROLE_MEMBER') %}
			<li><a href="{{ path('d2php_user_signin') }}">Inscription</a></li>
			{% endif %}
			<li><a href="{{ path('d2php_joinus') }}">Nous rejoindre</a></li>
			<li><a href="{{ path('d2php_staff') }}">L'équipe</a></li>
		    </ul>
		    
		    <img src="{{ asset('images/theme/menu/serveur.png') }}" alt="" />
		    <ul class="back">
			<li><a href="{{ path('d2php_infos') }}">Informations sur {{ server_name }}</a></li>
			<li><a href="{{ path('d2php_user_best_voters') }}">Meilleurs voteurs</a></li>
			<li><a href="{{ path('d2php_user_player_best') }}">Meilleurs personnages</a></li>
			<li><a href="{{ path('d2php_user_player_richest') }}">Les plus riches</a></li>
			<li><a href="{{ path('d2php_user_last') }}">Les derniers inscrits</a></li>
		    </ul>
		    
		    <img src="{{ asset('images/theme/menu/navigation.png') }}" alt="" />
		    <ul class="back">
		    <li><a href="{{ path('d2php_book_view') }}">Livre d'or</a></li>
			<li><a href="{{ asset('/forum/') }}">Forum</a></li>
			<li><a href="{{ path('d2php_shop_item_choose') }}">Boutique</a></li>
			<li><a href="{{ path('d2php_shop_vote') }}">Votez</a></li>
		    </ul>
		    
		    <!--<img src="{{ asset('images/theme/menu/support.png') }}" alt="" />
		    <ul class="back">
			<li><a href="">Foire aux Questions</a></li>
			<li><a href="">Qui sommes nous ?</a></li>
			<li><a href="">Nous contacter</a></li>
		    </ul>-->
		</div>
		
		<div class="wrap-content small">		    
		    <div id="box_550">
				<div class="top">
				    <img src="{{ asset('images/theme/title.png') }}" alt="" />
				</div>
				
				<div class="back">
				    <div class="box_top"></div>
				    
				    <div class="box">
						{% block content %}{% endblock %}
				    </div>
				    
				    <div class="box_footer"></div>
				</div>
				
				<div class="back_footer"></div>
		    </div>
		</div>
		
		<div class="wrap-right">
		    {% for server in servers %}
		    <img src="{{ asset('images/theme/menu/statut.png') }}" alt="" />
		    <ul class="statut">
				<li>{{ server.name }} <div class="{% if server.is_online %}online{% else %}offline{% endif %} right"></div></li>
				{% if server.is_online %}
				<li>{{ server.players }} joueurs connectés</li>
				{% else %}
				<li>Panne exceptionnelle</li>
				{% endif %}
				<li>{{ nb_users }} comptes créés</li>
				<li>{{ server.characters }} personnages créés</li>
		    </ul>
		    {% endfor %}
		    
			{% if not is_granted('ROLE_MEMBER') %}
		    <div class="img_reg">
			<a href="{{ path('d2php_user_signin') }}"><img width="215" height="268" src="{{ asset('images/theme/pixel.gif') }}" /></a>
		    </div>
			{% endif %}
		    
		    <div class="img_faq">
			<a href=""><img width="223" height="138" src="{{ asset('images/theme/pixel.gif') }}" /></a>
		    </div>
		    
		    <div class="img_recrutement">
			<a href="{{ path('d2php_infos') }}"><img width="215" height="268" src="{{ asset('images/theme/pixel.gif') }}" /></a>
		    </div>
		</div>
		
		<div class="clear"></div>
	    </div>
	</div>   
	
	<div id="footer">
	    <div class="text">
		Copyright © 2011-{{ "now"|date("Y") }} {{ server_name }}.
		Site web réalisé par Blackrush grâce à <a href="http://symfony.com/">Symfony</a>.
		<br /><br/>
		Dofus® et Ankama® sont des marques commerciales ou des marques déposées de Ankama Games en France et/ou dans d'autres pays.
		Ces termes et tous les matériaux, logos et images liés sont copyright © Ankama Games. Ce site n'est associé d'aucune façon ni n'est approuvé par Ankama Games®.
	    </div>
	</div>
    </body>
</html>
