{% extends '::base.html.twig' %}

{% block title %}
 	Modifier un membre
{% endblock %}

{% block content %}
 	<h2>Modifier le membre {{ user.nickname }}</h2>
 	
 	<form action="{{ path('d2php_user_admin_edit', {'id': user.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
