{% extends '::base.html.twig' %}

{% block title %}
 	Bannir un membre
{% endblock %}

{% block content %}
 	<p>
 		Souhaitez-vous vraiment bannir le membre {{ user.nickname }} (id={{ user.id }}) ?<br/>
 		<a href="?confirmation=1">Oui</a> -
 		<a href="{{ path('d2php_user_view', {'id': user.id}) }}">Non</a>
 	</p>
{% endblock %}
