{% extends "::base.html.twig" %}

{% block title %}
	Les meilleurs voteurs
{% endblock %}

{% block content %}
	<h2>Les meilleurs voteurs</h2>
	
	<table>
		<tr>
			<th>Place</th>
			<th>Nom</th>
			<th>Nombre de votes</th>
		</tr>
		
		{% for user in best_voters %}
		<tr>
			<td>{{ loop.index }}</td>
			<td><a href="{{ path('d2php_user_view', {'id': user.id}) }}">{{ user.nickname }}</a></td>
			<td>{{ user.timesVoted }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}