{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer un membre
{% endblock %}

{% block content %}
	<p>
		Souhaitez-vous vraiment supprimer {{ user.nickname }} (id={{ user.id }}) ?<br />
		<a href="?confirmation=1">Oui</a> -
		<a href="{{ path('d2php_user_view', {'id': user.id}) }}">Non</a>
	</p>
{% endblock %}
