{% extends '::base.html.twig' %}

{% block title %}
 	Modifier votre mot de passe
{% endblock %}

{% block content %}
 	<h2>Modifier votre mot de passe</h2>
 	
 	<form action="{{ path('d2php_user_edit_password') }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value=""/>
 	</form>
{% endblock %}
