{% extends '::base.html.twig' %}

{% block title %}
 	Modifier votre profil
{% endblock %}

{% block content %}
 	<h2>Modifier votre profil</h2>
 	
 	<p>
 		<a href="{{ path('d2php_user_edit_password') }}">Modifiez votre mot de passe</a>
 	</p>
 	
 	<form action="{{ path('d2php_user_edit') }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value=""/>
 	</form>
{% endblock %}
