{% extends '::base.html.twig' %}

{% block title %}
 	Les derniers inscrits
{% endblock %}

{% block content %}
 	<h2>Les derniers inscrits sur {{ server_name }}</h2>
 	
 	<table>
 	{% for user in last %}
 	<tr>
 		<td>{{ user.createdAt|date('d/m/Y') }}</td>
 		<td class="principal"><a href="{{ path('d2php_user_view', {'id': user.id}) }}">{{ user.nickname }}</a></td>
 		<td>{{ user.players.count }} personnages</td>
 		{% if is_granted('ROLE_GAME_MASTER') %}
 		<td>
 			<a href="{{ path('d2php_user_admin_edit', {'id': user.id}) }}">Modifier</a>
 		</td>
 		<td>
 			<a href="{{ path('d2php_user_admin_ban', {'id': user.id}) }}">Bannir</a>
 		</td>
 		<td>
 			<a href="{{ path('d2php_user_admin_delete', {'id': user.id}) }}">Supprimer</a>
 		</td>
 		{% endif %}
 	</tr>
 	{% endfor %}
 	</table>
{% endblock %}
