{% extends '::base.html.twig' %}

{% block title %}
 	Rechercher un membre
{% endblock %}

{% block content %}
 	<h2>Rechercher un membre</h2>
 	
 	<p>
 	{% for result in results %}
 		- #{{ result.id }} {{ result.nickname }} =>
 		<a href="{{ path('d2php_user_view', {'id': result.id}) }}">Voir le profil</a> - 
 		<a href="{{ path('d2php_user_admin_edit', {'id': result.id}) }}">Modifier</a> -
 		<a href="{{ path('d2php_user_admin_ban', {'id': result.id}) }}">Bannir</a> -
 		<a href="{{ path('d2php_user_admin_delete', {'id': result.id}) }}">Supprimer</a>
 	{% else %}
 	{% if app.request.method == 'POST' %}
 		<i>Aucun résultat.</i>
 	{% endif %}
 	{% endfor %}
 	</p>
 	
 	<form action="{{ path('d2php_user_search') }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
