{% extends '::base.html.twig' %}

{% block title %}
 	S'inscrire
{% endblock %}

{% block content %}
 	<h2>S'inscrire</h2>
 	
 	<form action="{{ path('d2php_user_signin') }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" class="inscrire"/>
 	</form>
{% endblock %}
