{% extends '::base.html.twig' %}

{% block title %}
 	Confirmation d'inscription
{% endblock %}

{% block content %}
 	<h2>Bienvenue sur {{ server_name }} !</h2>
 	
 	<p>
 		Nous vous souhaitons la bienvenue sur {{ server_name }}. Votre inscription s'est déroulée
 		sans encombres. Nous vous proposons de naviguer sur les pages suivante :
 		<ul>
 			<li><a href="{{ path('d2php_joinus') }}">Nous rejoindre</a></li>
 			<li><a href="{{ path('d2php_infos') }}">Informations sur {{ server_name }}</a></li>
 			<li><a href="{{ path('d2php_user_login') }}">Se connecter</a></li>
 		</ul>
 	</p>
{% endblock %}
