{% extends '::base.html.twig' %}

{% block title %}
 	Voir le profil d'un membre
{% endblock %}

{% block content %}
 	<h2>Le profil de {{ user.nickname }}</h2>
 	
 	<p>
 		<b>{{ user.nickname }}</b> est {{ user.getRightsStr }}.<br />
 		{% if user.publicEmail %}
 		Son adresse email : {{ user.email }}.<br/>
 		{% else %}
 		Son adresse email est privée.<br/>
 		{% endif %}
 		Il est inscrit depuis le {{ user.createdAt|date('d/m/Y') }}.<br />
 		Il a {{ user.players.count }} personnages.<br />
 		Il {% if not user.connected %}n'est pas{% else%}est{% endif %} connecté en jeu.
 	</p>
 	
 	{% if app.user and app.user.equals(user) %}
 	<p>
 		Panneau utilisateur :
 	<ul>
 		<li><a href="{{ path('d2php_user_edit') }}">Modifiez votre profil</a></li>
 		<li><a href="{{ path('d2php_user_logout') }}">Déconnectez-vous</a></li>
 	</ul>
 	</p>
 	{% endif %}
 	
 	{% if is_granted('ROLE_GAME_MASTER') %}
 	<h2>Administration</h2>
 	<p>
 		<a href="{{ path('d2php_user_admin_edit', {'id': user.id}) }}">Modifier</a><br />
 		<a href="{{ path('d2php_user_admin_ban', {'id': user.id}) }}">Bannir</a><br />
 		<a href="{{ path('d2php_user_admin_delete', {'id': user.id}) }}">Supprimer</a>
 	</p>
 	{% endif %}
{% endblock %}