{% extends '::base.html.twig' %}

{% block title %}
 	Ajouter un cadeau
{% endblock %}

{% block content %}
	<h2>Ajouter un cadeau</h2>
	
	<form action="{{ path('d2php_shop_gift_add') }}" method="post" id="form"{{ form_enctype(form) }}>
	{{ form_errors(form) }}
	{{ form_rest(form) }}
	<input type="submit" value=""/>
	</form>
{% endblock %}
