{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer un cadeau
{% endblock %}

{% block content %}
 	<h2>Supprimer un cadeau</h2>
 	
 	<p>
 		Souhaitez-vous vraiment supprimer le cadeau "{{ gift.name }}" ?
 		<a href="?confirmation=1">Oui</a> -
 		<a href="{{ path('d2php_shop_gifts') }}">Non</a>
 	</p>
{% endblock %}
