{% extends '::base.html.twig' %}

{% block title %}
 	Modifier un cadeau
{% endblock %}

{% block content %}
 	<h2>Modifier un cadeau</h2>
 	
 	<form action="{{ path('d2php_shop_gift_edit', {'id': gift.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value=""/>
 	</form>
{% endblock %}
