<table>
 {% for gift in gifts %}
 <tr>
 	{% if gift.image %}
 	<td>
 		<a href="{{ path('d2php_shop_category_view', {'id': gift.category.id}) }}">
 			<img src="{{ gift.image }}" alt="{{ gift.name }}" />
 		</a>
 	</td>
 	{% endif %}
 	<td class="principal">
 		<a href="{{ path('d2php_shop_item_buy', {'id': gift.id}) }}">{{ gift.name }}</a><br />
 		<b>{{ gift.price }}</b> <img src="{{ asset('images/theme/ogrine.png') }}" alt="ogrines" />
 	</td>
 	<td>
 		<i>{{ gift.description|nl2br }}</i>
 	</td>
 	{% if is_granted('ROLE_GAME_MASTER') %}
 	<td>
 		<a href="{{ path('d2php_shop_gift_edit', {'id': gift.id}) }}">Modifier</a><br />
 		<a href="{{ path('d2php_shop_gift_delete', {'id': gift.id}) }}">Supprimer</a>
 	</td>
 	{% endif %}
 </tr>
 {% endfor %}
 </table>