{% extends '::base.html.twig' %}

{% block title %}
 	Les cadeaux
{% endblock %}

{% block content %}
 	<h2>Les cadeaux</h2>
 	
 	{% if is_granted('ROLE_GAME_MASTER') %}
 	<ul>
 		<li><a href="{{ path('d2php_shop_gift_add') }}">Nouveau cadeau</a></li>
 		<li><a href="{{ path('d2php_shop_category_add') }}">Nouvelle catégorie</a></li>
 	</ul>
 	{% endif %}
 	
 	{% include('d2phpShopBundle:Gift:gift_list.html.twig') %}
{% endblock %}
