{% extends '::base.html.twig' %}

{% block title %}
 	Ajouter une catégorie de cadeau
{% endblock %}

{% block content %}
 	<h2>Ajouter une catégorie de cadeau</h2>
 	
 	<p>
 		<a href="{{ path('d2php_shop_gifts') }}">Voir la liste des cadeaux</a>
 	</p>
 	
 	<form action="{{ path('d2php_shop_category_add') }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
