{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer une catégorie de cadeau
{% endblock %}

{% block content %}
 	<h2>Supprimer une catégorie de cadeau</h2>
 	
 	<p>
 		Souhaitez vous vraiment supprimer la catégorie {{ category.name }}
 		ainsi que les {{ category.gifts.count }} cadeaux à l'intérieur ?<br />
 		
 		<a href="?confirmation=1">Oui</a> -
 		<a href="{{ path('d2php_shop_gifts') }}">Non</a>
 	</p>
{% endblock %}
