{% extends '::base.html.twig' %}

{% block title %}
 	Modifier une catégorie de cadeau
{% endblock %}

{% block content %}
 	<h2>Modifier une catégorie de cadeau</h2>
 	
 	<form action="{{ path('d2php_shop_category_edit', {'id': category.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
