{% extends '::base.html.twig' %}

{% block title %}
 	La catégorie {{ category.name }}
{% endblock %}

{% block content %}
 	<h2>La catégorie {{ category.name }}</h2>
 	
 	{% if category.image %}
 	<center><img src="{{ category.image }}" alt="{{ category.name }}" style="float: none"/></center>
 	{% endif %}
 	
 	{% set gifts = category.gifts %}
 	{% include('d2phpShopBundle:Gift:gift_list.html.twig') %}
{% endblock %}
