{% extends '::base.html.twig' %}

{% block title %}
 	Acheter un objet
{% endblock %}

{% block content %}
 	<h2>Acheter un objet</h2>
 	
 	<p>
 		<a href="{{ path('d2php_shop_item_choose') }}">Revenir au choix du cadeau</a>
 	</p>
 	
 	{% if not is_connected %}
 	<p style="font-weight: bold;">
 		Vous n'êtes pas connecté ! Veuillez vous connecter en jeu pour pouvoir recevoir
 		sans subir aucun disfonctionnement.
 	</p>
 	{% endif %}
 	
 	<p>
 		{% if gift.image %}
 			<img src="{{ gift.image }}" alt="{{ gift.name }}" style="float: left" />
 		{% endif %}
 		Votre personnage recevra <b>{{ gift.name }}</b>.
 	</p>
 	
 	<form action="{{ path('d2php_shop_item_buy', {'id': gift.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
