{% extends '::base.html.twig' %}

{% block title %}
 	Acheter un objet
{% endblock %}

{% block content %}
 	<h2>Acheter un objet</h2>
 	
 	<p>
 		Bien joué {{ app.user.nickname }}, vous allez recevoir votre {{ gift.name }} sur
 		le personnage {{ player.name }} !
 	</p>
 	
 	<p style="text-align: center;">
 		<a href="{{ path('d2php_shop_item_choose') }}">Choisissez un autre cadeau</a> -
 		<a href="{{ path('d2php_shop_buy') }}">Achetez des ogrines</a>
 	</p>
{% endblock %}
