{% extends '::base.html.twig' %}

{% block title %}
 	Acheter un objet
{% endblock %}

{% block content %}
 	<h2>Acheter un objet</h2>
 	
 	<p style="text-align: center;">
 		<b>Erreur :</b><br />
 		<i>{{ error }}</i>
 	</p>
{% endblock %}
