{% extends '::base.html.twig' %}

{% block title %}
 	Acheter un objet
{% endblock %}

{% block content %}
 	<h2>Acheter un objet</h2>
 	
 	<p id="boutique">
 	{% for category in categories %}
 		<a href="{{ path('d2php_shop_item_choose', {'id': category.id}) }}">
 			<img src="{{ category.image }}" alt="{{ category.name }}" style="float: none;" />
 		</a>
 	{% endfor %}
 	</p>
 	
 	{% include('d2phpShopBundle:Gift:gift_list.html.twig') %}
{% endblock %}
