{% extends '::base.html.twig' %}

{% block title %}
 	Ajouter un commentaire
{% endblock %}

{% block content %}
 	<h3>Ajouter un commentaire à la news {{ news.title }}</h3>
 	
 	<form action="{{ path('d2php_news_comment_add', {'id': news.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
