{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer un commentaire
{% endblock %}

{% block content %}
 	<h3>Supprimer le commentaire de {{ comment.author.nickname }}</h3>
 	
 	<p>
 		Souhaitez-vous vraiment supprimer ce commentaire ?<br/>
 		<a href="?confirmation=1">Oui</a> -
 		<a href="{{ path('d2php_news_view', {'id': comment.news.id}) }}">Non</a>
 	</p>
{% endblock %}
