{% extends '::base.html.twig' %}

{% block title %}
 	Modifier un commentaire
{% endblock %}

{% block content %}
	<h3>
	{% if app.user.equals(comment.author) %}
		Modifier votre commentaire
	{% else %}
		Modifier le commentaire de {{ comment.author.nickname }}
	{% endif %}
	</h3>
 	
 	<form action="{{ path('d2php_news_comment_edit', {'id': comment.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
