{% extends '::base.html.twig' %}

{% block title %}
 	Acheter des ogrines
{% endblock %}

{% block content %}
 	<h2>Acheter des ogrines</h2>
 	
 	<p>
		Vous allez recevoir {{ ogrines }} <img src="{{ asset('images/theme/ogrine.png') }}" alt="ogrines" style="float: none;" />. Pour cela,
		vous devez remplir le formulaire suivant :
 	</p>
 	
	<div id="starpass_{{ starpass_id }}"></div>
	<script type="text/javascript" src="http://script.starpass.fr/script.php?idd={{ starpass_id }}&amp;datas=&amp;theme=soft_blue_small">
	</script>
	<noscript>Veuillez activer le Javascript de votre navigateur s'il vous pla&icirc;t.<br />
	<a href="http://www.starpass.fr/">Micro Paiement StarPass</a>
	</noscript>
{% endblock %}
