{% extends '::base.html.twig' %}

{% block title %}
 	Acheter des ogrines
{% endblock %}

{% block content %}
 	<h2>Acheter des ogrines</h2>
 	
 	<p>
 		Un erreur est survenue lors de l'achat des ogrines.
 		Vous vous êtes sûrement trompé lorsque vous avez entré le code.
 	</p>
{% endblock %}
