{% extends '::base.html.twig' %}

{% block title %}
 	Acheter des ogrines
{% endblock %}

{% block content %}
 	<h2>Acheter des ogrines</h2>
 	
 	<p>
 		Félicitations {{ app.user.nickname }} ! Vous avez gagné {{ points }} ogrines !<br/>
 		Vous pourrez les utiliser dans notre boutique pour vous acheter des
 		équipements, des bonus en jeu ou des kamas !<br/>
 		Bon jeu ;)
 	</p>
{% endblock %}
