{% extends '::base.html.twig' %}

{% block title %}
 	Vote et gagne !
{% endblock %}

{% block content %}
 	<h2>Vote et gagne !</h2>
 	
 	<p>
 		Vous avez déjà voté. Veuillez recommencer dans 
 		{% if required.h > 0 %}
 			{{ required.h }} heures et
 		{% endif %}
 		{{ required.i }} minutes.
 	</p>
{% endblock %}
