{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer une catégorie
{% endblock %}

{% block content %}
 	<p>
 		Souhaitez-vous vraiment supprimer la catégorie {{ category.name }} ?<br />
 		<a href="?confirmation=1">Oui</a>
 		<a href="{{ path('d2php_news_category_view') }}">Non</a>
 	</p>
{% endblock %}
