{% extends '::base.html.twig' %}

{% block title %}
 	La catégorie {{ category.name }}
{% endblock %}

{% block content %}
 	<h3>{{ category.name }}</h3>
 	
 	<p>
 	{% for news_item in news %}
 	<a href="{{ path('d2php_news_view', {'id': news_item.id}) }}">{{ news_item.title }}</a>
 	par <a href="{{ path('d2php_user_view', {'id': news_item.author.id}) }}">{{ news_item.author.nickname }}</a>
 	le {{ news_item.date|date('d-m-Y à H:i') }}
 	<br/>
 	{% else %}
 	<i>Il n'y a pas de news dans cette catégorie.</i>
 	{% endfor %}
 	</p>
{% endblock %}
