{% extends '::base.html.twig' %}

{% block title %}
 	Modifier une categorie
{% endblock %}

{% block content %}
 	<form action="{{ path('d2php_news_category_edit', {'id': category.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value="" />
 	</form>
{% endblock %}
