{% extends '::base.html.twig' %}

{% block title %}
 	Les catégories des news
{% endblock %}

{% block content %}
	<p>
		<a href="{{ path('d2php_news_category_add') }}">Créer une nouvelle catégorie</a>
	</p>
	
	<ul>
 	{% for category in categories %}
 		<li>
 			{{ category.name }}
 			<a href="{{ path('d2php_news_category_edit', {'id': category.id}) }}">Modifier</a>
 			<a href="{{ path('d2php_news_category_delete', {'id': category.id}) }}">Supprimer</a>
 		</li>
 	{% endfor %}
 	</ul>
{% endblock %}
