{% extends '::base.html.twig' %}

{% block title %}
 	Supprimer une news
{% endblock %}

{% block content %}
 	<p>
 		Souhaitez-vous vraiment supprimer la news {{ news.title }} (id={{ news.id }}) ?<br />
 		<a href="?confirmation=1">Oui</a> -
 		<a href="{{ path('d2php_news_view', {'id': news.id}) }}">Non</a>
 	</p>
{% endblock %}
