{% extends '::base.html.twig' %}

{% block title %}
 	Modifier une news
{% endblock %}

{% block content %}
 	<form action="{{ path('d2php_news_edit', {'id': news.id}) }}" method="post" id="form"{{ form_enctype(form) }}>
 	{{ form_errors(form) }}
 	{{ form_rest(form) }}
 	<input type="submit" value=""/>
 	</form>
{% endblock %}
