{% extends '::base.html.twig' %}

{% block title %}
 	Lire une news
{% endblock %}

{% block content %} 	
 	<div class="news">
 		<h2>
 			{{ news.title }}
 		</h2>
 		
 		<center>
 		<p>
 			Postée par <a href="{{ path('d2php_user_view', {'id': news.author.id}) }}">{{ news.author.nickname }}</a>
 			le {{ news.date|date('d-m-Y à H:i') }}.
 		</p>
 		</center>
 		
 		<p class="content">
 			{{ news.message|nl2br }}
 		</p>
 		
 		<p class="details">
 			Catégorie : <a href="{{ path('d2php_news_category_details', {'id': news.category.id}) }}">{{ news.category.name }}</a>. <br />
 			Il y a {{ news.comments.count }} commentaires.
 			Postez le <a href="{{ path('d2php_news_comment_add', {'id': news.id}) }}">votre</a>.
 			{% if is_granted('ROLE_QUIZ_MASTER') %}
 			<br />
 			<a href="{{ path('d2php_news_edit', {'id': news.id}) }}">Modifier</a> - 
 			<a href="{{ path('d2php_news_delete', {'id': news.id}) }}">Supprimer</a>
 			{% endif %}
 		</p>
 	</div>
 	
 	<p style="text-align: center;">
 	{% autoescape false %}
 		Pages : {{ comments.renderLinks }}
 	{% endautoescape %}
 	</p>
 	
 	<table>
 	{% for comment in comments.objects %}
 	<tr>
 		<td class="principal" style="vertical-align: middle;">
 			par <a href="{{ path('d2php_user_view', {'id': comment.author.id}) }}">{{ comment.author.nickname }}</a><br />
 			le {{ comment.date|date('d-m-Y à H:i') }}
 			{% if comment.author.equals(app.user) %}
 			<br/><a href="{{ path('d2php_news_comment_edit', {'id': comment.id}) }}">Modifier</a>
 			{% endif %}
 		</td>
 		<td style="width: 300px; vertical-align: top;">
 		<p>
 			{{ comment.message|nl2br }}
 		</p>
 		</td>
 		{% if is_granted('ROLE_QUIZ_MASTER') %}
 		<td style="text-align: center; vertical-align: middle;">
 		<p>
 			<a href="{{ path('d2php_news_comment_edit', {'id': comment.id}) }}">Modifier</a><br />
 			<a href="{{ path('d2php_news_comment_delete', {'id': comment.id}) }}">Supprimer</a>
 		</p>
 		</td>
 		{% endif %}
 	</tr>
 	{% else %}
 	<tr><td><p><i>Il n'y a pas de commentaires.</i></p></td></tr>
 	{% endfor %}
 	</table>
{% endblock %}
