{% extends '::base.html.twig' %}

{% block title %}
 	Les plus riches joueurs
{% endblock %}

{% block content %}
 	<h2>Les plus riches joueurs de {{ server_name }}</h2>
 	
 	<table>
 	{% for player in players %}
 	<tr>
 		<td class="principal"><a href="{{ path('d2php_user_view', {'id': player.owner.id}) }}">{{ player.name }}</a></td>
 		<td>{{ player.breedStr }}</td>
 		<td>{{ player.kamas }} kamas</td>
 	</tr>
 	{% endfor %}
 	</table>
{% endblock %}
